.Container {
    display: flex;
    width: 100%;
    height: 230px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    margin: 0 auto;
}

.Container-imagem {
    border-radius: 8px 0 0 8px;
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin: 10px; /* Margem ao redor da imagem */
    border: 2px solid black; /* Adicione esta linha para criar uma borda preta ao redor da imagem */
}
