/* Estilo para o fundo cinza translúcido */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Coloca o overlay sobre outros elementos */
}

/* Estilo para o modal */
.modal-body {
    max-width: 80%;
    background: #fff; /* Cor de fundo do modal */
    padding: 20px;
    z-index: 1001; /* Coloca o modal sobre o overlay */
    border-radius: 8px; /* Borda arredondada, opcional */
}

/* Estilo para fechar o modal (opcional) */
.btn-secondary {
    cursor: pointer;
    font-size: 16px;
    color: #333;
    margin-top: 10px; /* Ajuste conforme necessário */
}

/* Estilo para o conteúdo do modal */
.moda-novoItem {
    text-align: center; /* Centraliza o conteúdo dentro do modal */
}
